/* style.css */
@import url('https://fonts.googleapis.com/css?family=Lato|Ubuntu:400,500');

body {
  background: rgb(32,34,48) !important;
  font-family: 'lato', sans-serif !important;
  color: #ededed !important;
}

h1 {
}


h2 {
  text-transform: uppercase;
  font-size: 70px;
  font-family: 'Ubuntu', sans-serif;*/
}

/*type de métiers*/

h3 {
    text-transform: uppercase;
    font-size: 14px;
    color: gray;
    padding-bottom: 20px;
    padding-top: 100px;
    border-bottom: 1px solid lightgrey;
    width: 300px;
    margin-bottom: 40px;

}

ul {
  list-style-type: none;
  margin-left: -40px;
}

p {
  color: #ededed;
}

p lego {
  text-align:right;
  border-bottom: 1px solid white;
  line-height:0.1em;
  margin:10px 0 20px;
  width:80%;
}


p span {
  background:rgb(32,34,48); padding:0;
}

.navbar {
    margin-top: 20px;
}

.navbar-nav {
  padding-left: 55px;
  padding-top: 5px;
}

.navbar-light .nav-link {
  color: #ededed !important;
}

nav-item nav-link active {
  color: #f8c400 !important;
}

.col {
  margin-top: 50px;
  width: 900px;
}

#bloc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.background-image{
    height: 100%;
    width: 100%;
    max-width: 420px;
}

.lego {
    margin: auto;
    margin-left: 100px;
    background-color: rgb(32,34,48);
}

.line{
  border-bottom: 1px solid white;
}


#numero1 {
  z-index:5;
  position: sticky;
  top: 70px;
  display: flex;
}

#numero2 {
  z-index:4;
  position: sticky;
  top: 200px;
  display: flex;
}

#numero3 {
  z-index:3;
  position: sticky;
  top: 330px;
  display: flex;
}

#numero4 {
  z-index:2;
  position: sticky;
  top: 460px;
  display: flex;
}

.fa, .far, .fas {
    font-size: 75px;
    margin-top: 80px;
    margin-right: 180px;
    color: #ededed;
}

.footer {
    border-top: 1px solid lightgrey;
    margin-top: 90px;
    padding-top: 20px;
}
